

.blockOne {
    background-color: blueviolet;
    padding:30px;
    width: 10%;
    margin: 3px;
    float:right;
}

.blockTwo {
    background-color: olive;
    padding:30px;
    width: 10%;
    margin: 3px;
}

.blockThree {
    background-color: palevioletred;
    padding:30px;
    width: 10%;
    margin: 3px;
}
h1 {
    color: azure;
}
